<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/css/index.css" />
    <style>
        h1,
        p,
        a {
            font-family: 'Roboto';
            text-align: center;
        }

        h1 {
            font-style: normal;
        }

        p {
            line-height: 2rem;
        }

        a {
            margin-top: 2rem;
        }

        div {
            height: 45vh;
            overflow: hidden;
        }

        img {
            object-fit: cover;
            width: 43vw;
            height: 78vh;
            box-sizing: content-box;
            position: relative;
            bottom: 0;
            left: 0;

        }
    </style>
</head>

<body>
    <h1>Here's how hyperlinks work</h1>

    <p>
        In some articles, you will find hyperlinks that you can click to access additional information. These
        hyperlinks are
        embedded within the text of specific articles to provide supporting materials or details that enhance your
        reading
        experience.
    </p>
    <p>
        Below is an example of how hyperlinks are displayed in articles that include them (the hyperlinks are
        circled in red for
        clarity):
    </p>
    <div>
        <img src="/images/article7_Open Sans_True.jpg" />
    </div>
    <p>
        Now that you’ve seen how hyperlinks look in articles, you can click
        next button to continue with the next section of the experiment.
    </p>
</body>