body {
    width: 40%;
    margin: 0 auto;
    overflow: scroll;
    margin-bottom: 3.75rem;
    height: 100%;
}

h1 {
    font-size: 40px;
    line-height: 46px;
    color: #121212;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    margin-top: 3.75rem;
    font-family: 'Georgia';
}

h2 {
    font-size: 23px;
    line-height: 30px;
    color: #363636;
    font-weight: 500;
    margin: 10px 0;
    font-family: 'Georgia';
}

.img-caption {
    font-size: 16px;
    line-height: 20px;
    color: #727272;
}

.hero-img {
    height: 500px;
    width: 100%;
}

.author {
    display: flex;
    align-items: center;
}

.author > img {
    width: 7rem;
}
.author>p {
    margin-top: -17px;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    color: #363636;
    font-family: 'Helvetica';
}

.author>p>span {
    text-decoration: underline;
}

.date {
    font-size: 13px;
    line-height: 16px;
    color: #363636;
    font-weight: 300;
    font-family: 'Helvetica';
}

article {
    font-size: 22px;
    line-height: 1.25;
    color: #363636;
    font-kerning: none;
    letter-spacing: 0;
}

article > p {
    margin: 20px 0;
    letter-spacing: 0px;
}
article > a {
    color: #326891;
}